.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
    padding: 10px 30px;
}
.logo{
    width: 100px;
}
.nav-items{
    
}
.nav-items>ul{
    display: flex;
    gap: 25px;
    font-size: 24px;
    margin-left: auto;
    align-items: center;
    list-style-type: none;
}
.res-card{
    width: 200px;
    padding: 5px;
    background-color:#f0f0f0;
}
.res-card:hover{
    box-shadow: 5px 5px 10px grey;
    border: 1px solid black;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width:100%;
    height: 130px;
}
.res-container{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}